
%section
  %h1 Hello World!

  %p This is the personal website of Patrick Canfield, a software engineer living in San Francisco, California. A rare Pok&eacute;mon indeed!

  %p Not that I think many people would care about what little interesting stuff I have to put here, its more just that no self-respecting software engineer can go around without a personal website, right? I mean, even old grandmas (no offense grandma, I dig your site) have a website these days.

  %p Hope the background makes you smile at least,

  %p -Patrick







