// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #8adb92;
  background-image: url('corey-thompson-dino-opt.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
  font-family: 'Freckle Face', cursive; 
  font-size: 200%;
}

section {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.90);
  background-size: cover;
  background-repeat: repeat-y;
  margin: 3em auto;
  padding: 2em;
  box-sizing: border-box;
  position: relative;
  z-index: 500;
}

section#background-credit {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 75%;
  width: auto;
  padding: 0.5em;
  background: transparent;
  z-index: 0;
  margin: 0;
  text-align: right;
}

section.spacer {
  height: 4em;
  background-color: transparent;
}

/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	img { max-width: 100%; }
  body {
    background-image: url('corey-thompson-dino-mobile.jpg');
  }

  section {
    width: 90%;
  }
}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	img { max-width: 100%; }

  section {
    width: 80%;
  }
}
