
%section.the-game
  .status-bar
    <span data-js='timer'></span> remaining, <span data-js='score'></span> unboggled.
  .play_board(data-js='play_board')
  .input(data-js='input')
  .answers(data-js='answers')
