<!DOCTYPE html>
<html>
<head>
  <title>Beer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href='http://fonts.googleapis.com/css?family=Niconne|Sail|Great+Vibes|Freckle+Face|Pinyon+Script|Fondamento|Montaga|Rock+Salt|Lancelot|Arizonia|Monsieur+La+Doulaise' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
